mortar-tabs {
  background: #efefef;
}

mortar-tab {
  color: #888;
  padding: 0.2rem 0.4rem;
  transition: all 0.2s ease-in;
  border-bottom: 3px solid #ccc;
}


mortar-tab + mortar-tab {
  border-left: none;
}

mortar-tab[selected] {
  color: #222;
  background: #fefefe;
  border-bottom: 3px solid #666;
}

mortar-tab:hover {
  background: #ffe;
}


